<h1>ユーザ詳細画面</h1>
<p>氏名</p>
  <%= @user.name %>
<p>メール(あとで消す)</p>
  <%= @user.email %>
<p>依頼中の仕事</p>

<% @user.requests.each do |request| %>
<div>
  <h3><%= link_to(request.title, "/requests/#{request.id}") %></h3>
  <p>仕事内容</p>
    <%= request.content %>
  <p>集合場所</p>
    <%= request.address %>
  <p>日時</p>
    <%= request.from_datetime %>
    <p>から</p>
    <%= request.to_datetime %>
  <p>募集人数(<%= request.remaining %>)</p>
    <%= request.number %>
  <p>御礼</p>
    <%= request.reward %>

  <% if Task.find_by(user_id: @current_user.id, request_id: request.id) %>
    <%= link_to("やっぱすけない!!", "/tasks/#{request.id}/destroy", {method: "post"}) %>
  <% else %>
    <%= link_to("すける!!", "/tasks/#{request.id}/create", {method: "post"}) %>
  <% end %>

  <% if @current_user.id == request.user_id %>
    <%= link_to("編集", "/requests/#{request.id}/edit") %>
    <%= link_to("削除", "/requests/#{request.id}/destroy", {method: "post"}) %>
  <% end %>

</div>
<% end %>
