<!-- Heading Row -->
<div class="row my-4">
  <div class="col-lg-4">
    <img class="img-fluid rounded" src="<%= "/user_images/#{@user.image_name}" %>">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-8">
    <h1><%= @user.name %></h1>
    <p><%= @user.profile %></p>
    <% if @current_user.id == @user.id %>
      <%= link_to("/users/#{@user.id}/edit") do %>
        <button type="button" class="btn btn-lg btn-success">プロフィール編集</button>
      <% end %>
    <% end %>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to("/users/#{@user.id}",class: "nav-link") do %>
      <span class="fa fa-paper-plane watch-btn-unwatch"></span><span> リクエスト</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to("/users/#{@user.id}/watch",class: "nav-link active") do %>
      <span class="fa fa-eye watch-btn-unwatch"></span><span> watch</span>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to("/users/#{@user.id}/tasks",class: "nav-link") do %>
      <span class="fa fa-thumbs-up watch-btn-unwatch"></span><span> すける！</span>
    <% end %>
  </li>
</ul>

<div class="row row-margin">
  <% @likes.each do |like| %>
    <% request = Request.find_by(id: like.request_id) %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <%= link_to("/requests/#{request.id}") do %>
          　　<img class="img-fluid rounded" src="<%= "/request_images/#{request.image_name}" %>">
          <% end %>
          <h2 class="card-title">  <%= link_to(request.title, "/requests/#{request.id}") %></h2>
          <p class="card-text"><%= request.content %></p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-2">
              <% if Like.find_by(user_id: @current_user.id, request_id: request.id) %>
                <%= link_to("/likes/#{request.id}/destroy", {method: "post"}) do%>
                  <span class="fa fa-eye fa-2x watch-btn-unwatch"></span>
                <% end %>
              <% else %>
                <%= link_to("/likes/#{request.id}/create", {method: "post"}) do%>
                  <span class="fa fa-eye fa-2x watch-btn"></span>
                <% end %>
              <% end %>
              <span><%= request.likes_count %></span>
            </div>

            <div class="col-md-offset-8 col-md-2">
              <% if @current_user.id != request.user_id %>
                <% if request.remaining == "定員に達しています" %>
                  <button type="button" class="btn btn-lg btn-success" disabled="disabled">定員です</button>
                <% else %>
                  <% if Task.find_by(user_id: @current_user.id, request_id: request.id) %>
                    <%= link_to("/tasks/#{request.id}/destroy", {method: "post"}) do %>
                      <button type="button" class="btn btn-warning">キャンセル</button>
                    <% end %>
                  <% else %>
                    <%= link_to("/tasks/#{request.id}/create", {method: "post"}) do %>
                      <button type="button" class="btn btn-success">すける!</button>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
