<h1>リクエスト編集画面</h1>
<% @request.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_tag("/requests/#{@request.id}/update", {multipart: true}) do %>
  <p>タイトル</p>
  <input name="title" value="<%= @request.title %>">
  <p>依頼内容</p>
  <textarea name="content"><%= @request.content %></textarea>
  <p>日時</p>
  <input type="datetime-local" name="from_datetime" value="<%= @request.from_datetime %>">
  <input type="datetime-local" name="to_datetime" value="<%= @request.to_datetime %>">
  <p>集合場所</p>
  <input name="address" value="<%= @request.address %>">
  <p>募集人数</p>
  <input type="number" name="number" value="<%= @request.number %>">
  <p>御礼</p>
  <textarea name="reward"><%= @request.reward %></textarea>
  <p>参考画像</p>
  <input name="image" type="file">

  <input type="submit" value="すけてけろ〜">
<% end %>
