<h1>リクエスト一覧</h1>
<% @requests.each do |request| %>
  <div>
    <h3><%= link_to(request.title, "/requests/#{request.id}") %></h3>
    <p>依頼者</p>
    <%= link_to(request.user.name, "/users/#{request.user.id}") %>
    <p>仕事内容</p>
      <%= request.content %>
    <p>集合場所</p>
      <%= request.address %>
    <p>日時</p>
      <%= request.from_date %><%= request.from_time.strftime("%H:%M") %>
      <p>から</p>
      <%= request.to_date %><%= request.to_time.strftime("%H:%M") %>
    <p>募集人数(<%= request.remaining %>)</p>
      <%= request.number %>
    <p>御礼</p>
      <%= request.reward %>

    <% if Task.find_by(user_id: @current_user.id, request_id: request.id) %>
      <%= link_to("やっぱすけない!!", "/tasks/#{request.id}/destroy", {method: "post"}) %>
    <% else %>
      <%= link_to("すける!!", "/tasks/#{request.id}/create", {method: "post"}) %>
    <% end %>
  </div>
<% end %>
