<h1>リクエスト一覧</h1>
<% @requests.each do |request| %>
  <div>
    <h3><%= link_to(request.title, "/requests/#{request.id}") %></h3>
    <p>依頼者</p>
    <%= link_to(request.user.name, "/users/#{request.user.id}") %>
    <img src="<%= "/user_images/#{request.user.image_name}" %>" width="100" height="100">
    <p>仕事内容</p>
      <%= request.content %>
    <p>集合場所</p>
      <%= request.address %>
    <p>日時</p>
      <%= request.from_datetime %>
      <p>から</p>
      <%= request.to_datetime %>
    <p>募集人数(<%= request.remaining %>)</p>
      <%= request.number %>
    <p>御礼</p>
      <%= request.reward %>
    <img src="<%= "/request_images/#{request.image_name}" %>" width="100" height="100">

    <% if Like.find_by(user_id: @current_user.id, request_id: request.id) %>
      <%= link_to("Don't watch!", "/likes/#{request.id}/destroy", {method: "post"}) %>
    <% else %>
      <%= link_to("watch!!", "/likes/#{request.id}/create", {method: "post"}) %>
    <% end %>
    <%= request.likes_count %>

    <% if @current_user.id != request.user_id %>
      <% if request.remaining == "定員に達しています" %>
        <p>定員に達しています</p>
      <% else %>
        <% if Task.find_by(user_id: @current_user.id, request_id: request.id) %>
          <%= link_to("やっぱすけない!!", "/tasks/#{request.id}/destroy", {method: "post"}) %>
        <% else %>
          <%= link_to("すける!!", "/tasks/#{request.id}/create", {method: "post"}) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
