<h1>リクエスト作成画面</h1>
<% @request.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
<% end %>

<%= form_tag("/requests/create") do %>
  <p>タイトル</p>
  <input name="title" value="<%= @request.title %>">
  <p>依頼内容</p>
  <textarea name="content"><%= @request.content %></textarea>
  <p>日時</p>
  <input type="date" name="from_date" value="<%= @request.from_date %>">
  <input type="time" name="from_time" value="<%= @request.from_time %>">
  <input type="date" name="to_date" value="<%= @request.to_date %>">
  <input type="time" name="to_time" value="<%= @request.to_time %>">
  <p>集合場所</p>
  <input name="address" value="<%= @request.address %>">
  <p>募集人数</p>
  <input type="number" name="number" value="<%= @request.number %>">
  <p>御礼</p>
  <textarea name="reward"><%= @request.reward %></textarea>

  <input type="submit" value="すけてけろ〜">
<% end %>
