<h1 class="my-4">
  <%= @request.title %>
</h1>

<div class="row">

  <div class="col-md-6">
    <img class="img-fluid" src="<%= "/request_images/#{@request.image_name}" %>">
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-2 thumbnail">
        <a href="/users/<%= @request.user.id %>">
          <img src="<%= "/user_images/#{@request.user.image_name}" %>">
        </a>
      </div>
      <div class="col-md-10 box2">
        <%= link_to(@request.user.name, "/users/#{@request.user.id}") %>
      </div>
    </div>

    <h3 class="my-3">仕事内容</h3>
      <p><%= @request.content %></p>
    <h3 class="my-3">集合場所</h3>
      <p><%= @request.address %></p>
    <h3>日時</h3>
      <p><%= @request.from_datetime %>〜<%= @request.to_datetime %></p>
    <h3>募集人数(<%= @request.remaining %>)</h3>
      <p><%= @request.number %></p>
    <h3>御礼</h3>
      <p><%= @request.reward %></p>

      <div class="row">
        <div class="col-md-2">
          <% if Like.find_by(user_id: @current_user.id, request_id: @request.id) %>
            <%= link_to("/likes/#{@request.id}/destroy", {method: "post"}) do%>
              <span class="fa fa-eye fa-2x watch-btn-unwatch"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{@request.id}/create", {method: "post"}) do%>
              <span class="fa fa-eye fa-2x watch-btn"></span>
            <% end %>
          <% end %>
          <%= @request.likes_count %>
        </div>

        <div class="col-md-4">
          <% if @current_user.id != @request.user_id %>
            <% if @request.remaining == "定員に達しています" %>
              <button type="button" class="btn btn-lg btn-success" disabled="disabled">定員です</button>
            <% else %>
              <% if Task.find_by(user_id: @current_user.id, request_id: @request.id) %>
                <%= link_to("/tasks/#{@request.id}/destroy", {method: "post"}) do %>
                  <button type="button" class="btn btn-warning">キャンセル</button>
                <% end %>
              <% else %>
                <%= link_to("/tasks/#{@request.id}/create", {method: "post"}) do %>
                  <button type="button" class="btn btn-success">すける!</button>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @current_user.id == @request.user_id %>
            <%= link_to("/requests/#{@request.id}/edit") do %>
              <button type="button" class="btn btn-info">編集</button>
            <% end %>

            <%= link_to("/requests/#{@request.id}/destroy", {method: "post"}) do %>
              <button type="button" class="btn btn-danger">削除</button>
            <% end %>
          <% end %>
        </div>
      </div>

  </div>

</div>

<hr>

<h3 class="my-4">支援者一覧</h3>
<div class="row">
  <% @tasks.each do |task| %>
    <% sukelist = User.find_by(id: task.user_id) %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card" style="width: 18rem;">
        <%= link_to("/users/#{sukelist.id}") do %>
          <img class="card-img-top" src="<%= "/user_images/#{sukelist.image_name}" %>">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to(sukelist.name, "/users/#{sukelist.id}") %></h5>
          <p class="card-text"><%= sukelist.profile %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
